<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Server" value="200.100.100.227" />
    <add key="DBNane" value="STBL_KOITO" />
    <add key="User" value="sa" />
    <add key="PW" value="siix@123456" />
    <add key="PoolSize" value="40000" />
    <add key="Timeout" value="30000" />
    <add key="Process" value="Final2" />
    <add key="Customer" value="Transtron" />
    <add key="CLIENT" value="DevTest" />
    <add key="PathExport" value="D:\" />
    <add key="dgvFontSeiban" value="12" />
    <add key="dgvFontMain" value="12" />
    <add key="totalSeibam" value="1" />
    <add key="CheckModelBArcode" value="0" />
    <add key="GroupBacode" value="No" />
    <add key="AutoSerial" value="0" />
    <add key="DigiControl" value="0" />
    <add key="cBModelBarcode" value="0" />
    <add key="StartDigi" value="0" />
    <add key="ChkBModelBarcode" value="0" />
  </appSettings>
</configuration>